.page {
    font-family: 'Golos Text', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;

    margin: 0 auto;
    background: #2a2c2f;
}